// Color
$body-bg: #f8fafc;
$primary: #ec1f1f;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif, 'Microsoft JhengHei';
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace, 'Microsoft JhengHei';
