// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'components';

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

.alert-full {
  margin: 0;
  border-width: 0 0 1px;
  border-radius: 0;
}

.required::before {
  content: '*';
  color: $red;
  margin-right: 0.25rem;
}

.pagination {
  justify-content: center;
}

.table-show th:first-child {
  width: 200px;
  text-align: right;
  @media (max-width: 480px) {
    width: 33%;
  }
}

.remove-row-bottom-space {
  margin-bottom: -1rem;
}

.card-center {
  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.list-group-thin {
  max-width: 300px;
}

.qrcode-block {
  svg, img {
    max-width: 100%;
  }
}
